In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

print("all set up ðŸ˜Ž")

all set up ðŸ˜Ž

In [5]:
### Filter and Data Selection

In [12]:
my_obj = Series(np.arange(8), index=["row 1", "row 2","row 3","row 4","row 5","row 6","row 7","row 8" ])
my_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [14]:
my_obj["row 8"]

7

In [22]:
myFrame = DataFrame(np.random.rand(36).reshape((6,6)), index=['row 1','row 2','row 3','row 4','row 5','row 6'])

              0         1         2         3         4         5
row 1  0.132421  0.766486  0.076742  0.331044  0.679852  0.509213
row 2  0.655146  0.602120  0.719055  0.415219  0.396542  0.825139
row 3  0.712552  0.097937  0.842154  0.440821  0.373989  0.913676
row 4  0.547778  0.251937  0.027474  0.206257  0.590885  0.163652
row 5  0.836928  0.775203  0.169041  0.766994  0.335366  0.472398
row 6  0.215064  0.912094  0.759208  0.676561  0.021376  0.660874

In [ ]:
### Data Slicing
my_obj["row 3": "row "]